.h{
	background-image: url(../img/himg.jpg);
	height: 50px;
	width: 750px;
	text-align: center;
	color: WhiteSmoke;
	font-family: Courier;
}
.p1{
	background-color: #61AEFD;	
	width: 750px;
	line-height: 20px;
	color: WhiteSmoke;
	font-size: 20px;
}
#an{
	background-image: url(../img/new.jpg);
	background-repeat: repeat-x;
	color: WhiteSmoke;
	font-family: Tahoma;
	height: 60px;
	width: 900px;
}
